<table class="table">
  <thead>
  <tr>
    <th scope="col">Name</th>
    <th scope="col">Description</th>
    <th scope="col">Kind</th>
    <th scope="col">User</th>
  </tr>
  </thead>
  <tbody id="widgets-table-body">
  <% @widgets.each do |widget| %>
    <tr>
      <td scope="row"><%= widget['name'] %></td>
      <td scope="row"><%= widget['description'] %></td>
      <td scope="row"><%= widget['kind'] %></td>
      <td scope="row">
        <%= link_to user_path(widget['user']['id']) do %>
          <%= widget['user']['name'] %>
        <% end %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>