<!DOCTYPE html>
<html>
  <head>
    <title>WidgetsApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="nav-md footer_fixed">
  <div class="container body center">
    <div class="main_container">
      <div class="col-md-3 left_col">
        <div class="login-box-body">
          <ul class="nav nav-tabs">
            <li class="active"><a data-toggle="tab" href="#sectionA"><b>Login</b></a></li>
            <li><a data-toggle="tab" href="#sectionB"><b>Signup</b></a></li>
          </ul>
          <br>
          <div class="tab-content parent-center-form">
            <div id="sectionA" class="tab-pane fade in active">
              <form accept-charset="UTF-8" action="/users" class="new_user center-form" id="new_user" method="post">
                <div class="form-group">
                  <label for="user_email">Email</label>
                  <input class="form-control" id="user_email" name="user[email]" type="email">
                </div>
                <div class="form-group">
                  <label for="user_password">Password</label>
                  <input class="form-control" id="user_password" name="user[password]" type="password">
                </div>
                <div class="form-check">
                  <input name="user[remember_me]" type="hidden" value="0">
                  <input class="form-check-input" id="user_remember_me" name="user[remember_me]" type="checkbox" value="1">
                  <label class="form-check-label" for="user_remember_me">Remember me</label>
                </div>
                <input class="btn btn-secondary" name="commit" type="submit" value="Log In">
              </form>
            </div>
            <div id="sectionB" class="tab-pane fade">
    jkl;
            </div>
          </div>
        </div>
      </div>
      <!-- page content -->

      <!-- /page content -->

      <!-- footer content -->
      <footer>
        <%= render partial: 'layouts/partials/footer' %>
      </footer>
      <!-- /footer content -->
    </div>
  </div>
  <!-- <%= javascript_include_tag 'application' %> -->
  </body>
</html>
