<!DOCTYPE html>
<html>
<head>
  <title>WidgetsApp</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
</head>
<body class="hold-transition skin-blue sidebar-mini">
<div class="wrapper">

  <%= render partial: 'partials/header' %>
  <%= render partial: 'partials/left_sidebar' %>
  <div class="content-wrapper">
    <section class="content">
      <% flash.each do |key, value| %>
        <div class="alert alert-<%= key %>"><%= value %></div>
      <% end %>
      <%= yield %>
    </section>
  </div>
  <%= render partial: 'partials/footer' %>
</div>

<%= render partial: 'modals/login' %>
<%= render partial: 'modals/signup' %>
<%= render partial: 'modals/reset_password' %>
<!-- jQuery 2.2.3 -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.3/jquery.min.js"></script>
<!-- jQuery UI 1.11.4 -->
<script src="https://code.jquery.com/ui/1.11.4/jquery-ui.min.js"></script>
<!-- Resolve conflict in jQuery UI tooltip with Bootstrap tooltip -->
<script>
    $.widget.bridge('uibutton', $.ui.button);
</script>

<%= javascript_include_tag 'application' %>
</body>

</html>