<!DOCTYPE html>
<html>
<head>
  <title>WidgetsApp</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body class="nav-md footer_fixed">

<div class="row">
  <%= render partial: 'partials/left_sidebar' %>

  <div class="col-sm-8 col-md-9">
    <div class="container">
      <% flash.each do |key, value| %>
        <div class="alert alert-<%= key %>"><%= value %></div>
      <% end %>
    </div>
    <!--Body content-->
    <%= yield %>
  </div>
</div>


<!-- <%= javascript_include_tag 'application' %> -->
</body>
</html>